/* IMPORTS */

@import url("bootstrap.css");
@import url("fonts.css");

/* END IMPORTS */


/* TO DELETE */


/* * {
    border: 1px solid red;
} */


/* END TO DELETE */

* {
    padding: 0px;
    margin: 0px;
}