/* IMPORTS */

@import url("bootstrap.css");
@import url("fonts.css");

/* END IMPORTS */


/* TO DELETE */


/* * {
    border: 1px solid red;
} */


/* END TO DELETE */

* {
    padding: 0px;
    margin: 0px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 512px;
    height: 512px;
    position: absolute;
    left: 35%;
    top: 20%;
    background-image: url(../images/logo/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -70px 0 0 -70px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-inner img {
    width: 100%;
    height: 200px;
}

.img-logo {
    width: 7.6em !important;
    height: 5.7em !important;
    position: fixed;
    top: 10px;
    left: 10px;
}

@media (min-width: 576px) {
    .carousel-inner img {
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 768px) {
    .carousel-inner img {
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 992px) {
    .carousel-inner img {
        width: 100%;
        height: 500px;
    }
}

@media (min-width: 1200px) {
    .carousel-inner img {
        width: 100%;
        height: 670px;
    }
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}


/* styling of bakground image section in restauran.html*/

.box {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.box img {
    width: 100%;
    height: 70vh;
}

.box .text {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    color: #fff;
    width: 95%;
}

.box .text p {
    font-size: 400%;
    font-family: 'Great Vibes', cursive;
}

.logo {
    font-size: 400%;
}


/* styling of form section */

.drop {
    margin: auto;
    width: 65%;
}

.form {
    margin: auto;
}

.space {
    width: 33%;
    float: left;
    flex: 400px;
}

.btns {
    width: 100%;
    margin-top: 5%;
}

.attach {
    margin-top: 5%;
}


/****** QRcode Styling *****************/

.qr {
    text-align: center;
}

form {
    width: 100%;
}

.hide {
    display: none;
}


/* This is the footer section */

fa {
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    color: purple;
}

.fa-facebook,
.fa-youtube,
.fa-instagram,
.fa-twitter,
.fa-google {
    color: white;
    padding: 5px;
}

.contact .nav {
    margin: 5px 50px;
    justify-content: center;
}

.contact a {
    color: white;
}

.contact {
    width: 100%;
    background: black;
    color: white;
    padding: 20px 150px;
}

.contact h1 {
    text-align: center;
    padding-bottom: 50px;
}

.specific {
    margin-bottom: 4%;
}

#message-alert {
    display: none;
}

.alert {
    width: fit-content;
    margin: auto;
}


/* Ends the footer section */


/* filters section */

.align {
    text-align: center;
}

.jumbotron {
    background: none;
}

#myBtnContainer {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    color: black;
}

.row {
    margin: 10px -16px;
}


/* / Add padding BETWEEN each column /  */

.row,
.row>.column {
    padding: 8px;
}


/* / Create three equal columns that floats next to each other /  */

.column {
    float: left;
    width: 33.33%;
    display: none;
    /* / Hide all elements by default / */
}


/* / Clear floats after rows /  */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* / Content /  */

.content {
    background-color: white;
    padding: 10px;
}


/* / The "show" class is added to the filtered elements /  */

.show {
    display: block;
}


/* / Style the buttons /  */

.containers {
    position: relative;
    /*width: 50%;
    
    height:100%;*/
}

.image {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
    opacity: 0.8px;
}

.containers:hover {
    opacity: 0.9;
}

.containers:hover .overlay {
    opacity: 1;
}

.p {
    color: black;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}