/* IMPORTS */

@import url("bootstrap.css");
@import url("fonts.css");

/* END IMPORTS */


/* TO DELETE */


/* * {
    border: 1px solid red;
} */


/* END TO DELETE */

* {
    padding: 0px;
    margin: 0px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    z-index: 999999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 512px;
    height: 512px;
    position: absolute;
    left: 35%;
    top: 20%;
    background-image: url(../images/logo/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    margin: -70px 0 0 -70px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-inner img {
    width: 100%;
    height: 200px;
}

.img-logo {
    width: 7.6em !important;
    height: 5.7em !important;
    position: fixed;
    top: 10px;
    left: 10px;
}

@media (min-width: 576px) {
    .carousel-inner img {
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 768px) {
    .carousel-inner img {
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 992px) {
    .carousel-inner img {
        width: 100%;
        height: 500px;
    }
}

@media (min-width: 1200px) {
    .carousel-inner img {
        width: 100%;
        height: 670px;
    }
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* styling of bakground image section in restauran.html*/
.box {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.box img {
    width: 100%;
    height: 70vh;
}

.box .text {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 30%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    color: #fff;
    width: 95%;
}

.box .text p {
    font-size: 400%;
    font-family: 'Great Vibes', cursive;
}

.logo {
    font-size: 400%;
}

/* styling of form section */
.drop {
    margin: auto;
    width: 65%;
}

.form {
    margin: auto;
}

.space {
    width: 33%;
    float: left;
    flex: 400px;
}

.btns {
    width: 100%;
    margin-top: 5%;
}

.attach {
    margin-top: 5%;
}